@import url('https://fonts.googleapis.com/css2?family=Lemonada&display=swap');

:root {
    --gridSize: 20;
    --elementColor: white;
}
body {
    margin: 0;
}
#container {
    background: url(background.png);
    background-size: cover;
    display: grid;
    width:100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-template-rows: 10vh 90vh;
    grid-template-columns: 1fr  ;
    gap: 15px;
}
#title {
    font-size: 72px;
    font-family: 'Lemonada';
    color: white;
    text-shadow: 2px 2px 2px black;
    margin-top: 10vh;
}
#flexme {
    display: flex;
    justify-content: center;
    align-items: center;
}
#mainGrid {
    display: grid;
    grid-template: repeat(var(--gridSize), auto) / repeat(var(--gridSize), auto);
    width: 75vh;
    height: 75vh;
    justify-self: center;
    cursor: crosshair;
    border: 2px solid black;
    margin-right: 2vw;
}
.gridElement {
    background-color: white;
}
.gridBorder {
    border: 1px dotted rgb(146, 146, 146);
}
#gridSettings {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 2vw;
    gap: 15px;
    justify-content: center;
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 2px 2px 2px black;
    border: 1px solid black;
}
.settings {
    font-family: 'Lemonada';
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px;
    background-color: #e4fdeb;
    color: black;
    justify-self: center;
    width: 150px;
    height: 6vh;
}
#newGrid {
    display: flex;
    margin-top: 20px;
}
#newGrid *:focus {
    outline: none;
}
#createGrid {
    border: none;
    background-color: transparent;
}
#inputSize {
    font-family: 'Lemonada';
    width: 39px;
    height: 30px;
    align-self: center;
    font-size: 14px;
    border: none;
    background-color: rgba(255, 255, 255, 0.329);
    color: black;
    border-radius: 8px;
    box-shadow: 1px 1px 2px rgb(82, 81, 81);
}
#rainbow, #border, #resetGrid {
    outline: none;
}
#rainbow:hover, #border:hover, #newGrid:hover, #resetGrid:hover, #color:hover{
    background-color: #c5f0d2;
    box-shadow: 3px 3px 3px black;
}
.rainbow {
    background: linear-gradient(to bottom right, red,orange,yellow,green,blue,indigo,violet);
    color: white;
    text-shadow: 1px 1px 1px black;
}
span {
    font-family: 'Lemonada';
    font-size: 15px;
    align-self: center;
}
#erase {
    font-weight: bold;
    text-shadow: 1px 1px 1px white;
}
#colorDiv {
    display: flex;
    justify-self: center;
}
#colorspan {
    margin-right: 10px;
    text-shadow: 1px 1px 0 white;
    font-size: 18px;
}
#color {
    justify-self: center;
    background-color: #e4fdeb;
    border-radius: 8px;
    height: 50px;
}

@media screen and (max-width: 800px) {
    #flexme {
        flex-direction: column;
    }
    #mainGrid {
        width: 70vw;
        height: 70vw;
    }
    #gridSettings {
        grid-template-columns: repeat(6, auto);
    }
}